@page
@model MangaStore.Pages.Auth.ForgotPassword
@{
    ViewData["Title"] = "ForgotPassword";
}


<div class = "card mx-auto" style="400px;">
    <div class="card-body">
        <h2 class="text-center mb-5">Forgot Password</h2>
        @if(Model.errorMessage.Length > 0)
        {
            <div class="alert alert-danger alert-dismissable" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else if (Model.successMessage.Length > 0)
        {
            <div class="alert alert-success alert-dismissable" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="POST">

            <div class="mb-3">
                <label asp-for="email" class="form-label">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col d-grid">
                    <button type="submit" value="Send" class="btn btn-primary">Reset</button>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
                </div>
            </div>
        </form>

    </div>
</div>