@page
@model MangaStore.Pages.Auth.ResetPassword
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="card mx-auto" style="width: 400px;">
    <div class="card-body">
        <h2 class="text-center mb-5">

        @if(Model.errorMessage.Length > 0)
        {
            <div class="alert alert-danger alert-dismissable" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else if (Model.successMessage.Length > 0)
        {
            <div class="alert alert-success alert-dismissable" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="POST">
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>


            <div class="row mb-3">
                <div class="col d-grid">
                    <button type="submit" value="Send" class="btn btn-primary">Reset</button>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
                </div>
            </div>
        </form>

    </div>
    
</div>